<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.author}}'s website</title>
</head>
<body>
    <h1 class="name-link-home">
        <a href="/">{{ config.author }}</a>
    </h1>
    <nav class="nav-bar">
        <a href="{{ get_url(path='@/portfolio/_index.md')}}">Portfolio</a>
    </nav>
    <section class="contact">
        <div class="linkedin">
            <a href="https://www.linkedin.com/in/reuel-n-a07a55224" target="_blank">Linkedin</a>
        </div>
        <div>
            <a href="https://github.com/Veil43" target="_blank">github</a>
        </div>
    </section>
    <section class="section">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </section>
</body>
</html>